@model AccountTypes
@{
    ViewData["Title"] = "Account types";
}

<div class="row px-sm-1 px-md-3 px-lg-3 py-5 d-flex align-items-center">
    <div class="col-sm-12 col-lg-6 pb-sm-2 pb-md-5 text-center">
        <img width="80%" src="~/img/varios/undraw_access_account_re_8spm.svg" />
    </div>
    <div class="col-sm-12 col-lg-6 pt-sm-5 pt-lg-0">
        <h3 class="fuente2 text-center mb-4">Register account type</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="Name" class="form-label text-bold">Name*</label>
                <input type="text" asp-for="Name" placeholder="Enter Names." class="form-control" />
                <span asp-validation-for="Name" class="text-danger"> </span>
            </div>

            <div class="mb-3">
                <label asp-for="UserId" class="form-label text-bold">User Id*</label>
                <input type="text" asp-for="UserId" placeholder="Enter Names." class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"> </span>
            </div>

            <div class="mb-3">
                <label asp-for="OrderAccount" class="form-label text-bold">Name*</label>
                <input type="text" asp-for="OrderAccount" placeholder="Enter Names." class="form-control" />
                <span asp-validation-for="OrderAccount" class="text-danger"> </span>
            </div>

            <center>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </center>

        </form>
    </div>
</div>
</br></br></br></br></br></br>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}