@{
    ViewData["Title"] = "Home Page";
}


<div class="row px-sm-1 px-md-3 px-lg-3 py-5 d-flex align-items-center">
    <div class="row pb-5 d-flex align-items-center">
        <div class="col-sm-12 col-lg-6 pb-5 px-sm-2 px-md-5">
            <center>
            <div class="card" style="width: 400px;">
                <img src="~/img/varios/undraw_male_avatar_323b.svg" style="width:180px; margin:auto;" class="card-img-top mt-3">
                <div class="card-body">
                    <h5 class="card-title">Jhon Sebastian Vanegas Vargas</h5>
                    <p class="card-text text-justify">
                        I am a respectful and reliable person, always seeking to improve
                        myself to provide the best technological solutions, committed to the goals,
                        promoting leadership for a better advancement of the established projects.
                    </p>
                    <strong>About me</strong>
                </div>
            </div>
            </center>
        </div>

        <div class="col-sm-12 col-lg-6 pb-sm-2 pb-md-5 px-sm-2 px-md-5 text-center">
            <img width="90%" src="~/img/varios/undraw_portfolio_website_re_jsdd.svg" />
        </div>

    </div>

    <center>

        <div class="col-sm-12 col-lg-8 pb-sm-2 pb-md-5 px-sm-2 px-md-5">
            <h3 class="fuente2 text-center mb-4">About us?</h3>
            <p class="text-justify">
                We are an application developed as part of a deliverable project of the Seedbeds plan corresponding to the year 2022.
                This application was developed by Jhon Sebastian Vanegas Vargas and will be reviewed by Siesa S.A.S.
                </br>
                It is an application oriented to the administration of expenses taking into account a low complexity database.
            </p>
        </div>

    </center>

    <div class="col-sm-12 col-lg-6 pb-sm-2 pb-md-5 px-sm-2 px-md-5">
        <h3 class="fuente2 text-center mb-4">Mission</h3>
        <p class="text-justify">
            Provide a quality web application with secure code, structured in well-documented MVC format, promoting its understanding
            for future and possible changes.
            </br>
            I seek not only to provide something functional at the Backend level but also at the Frontend level to promote visual and
            navigation comfort for the user.
        </p>
    </div>

    <div class="col-sm-12 col-lg-6 pb-sm-2 pb-md-5 px-sm-2 px-md-5">
        <h3 class="fuente2 text-center mb-4">Vision</h3>
        <p class="text-justify">
            By the beginning of April 2022, approve the delivery of the project with the minimum number of possible errors,
            thus demonstrating my commitment and skills for whoever serves as a jury in this App.
        </p>
    </div>

</div>
</br></br></br></br></br></br>
